---
import PrimaryLayout from "./PrimaryLayout.astro";
import TagList from "../components/TagList.astro";
import ProjectGallery from "../components/ProjectGallery.astro";
import ProjectLinks from "../components/ProjectLinks.astro";

const { frontmatter } = Astro.props;
---

<PrimaryLayout frontmatter={frontmatter}>
    <main>
        <article>
            <h2>{frontmatter.title}</h2>
            <TagList tags={frontmatter.tags} />
            <h3>{frontmatter.description}</h3>
            <ProjectGallery gallery={frontmatter.gallery} />
            <div class="wrapper">
                <ProjectLinks links={frontmatter.links} class="links"/>
                <div class="content">
                    <slot />
                </div>
        </article>
    </main>
</PrimaryLayout>

<style is:global>
    article > *:not(:last-child) {
        margin-block: 1em;
    }
</style>
<style>
article {
    container-type: inline-size;
    container-name: article;
}

.wrapper {
    display: grid;
    gap: 1rem;

    @container article (width > 600px) {
        grid-template-columns: 12em auto;
    }

    .content {
        border-radius: .2rem;
        padding: 1rem;
        background-color: var(--clr-block-bg);
    }
}
</style>